<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.XxlJobUserDao">

	<resultMap id="XxlJobUser" type="com.xxl.job.admin.core.model.XxlJobUser" >
		<result column="id" property="id" />
		<result column="jobGroupId" property="jobGroupId" />
	    <result column="pin" property="pin" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.jobGroupId,
		t.pin
	</sql>

	<select id="listUserPin" parameterType="java.util.HashMap" resultMap="XxlJobUser">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_user AS t
        where t.jobGroupId = #{jobGroupId}
	</select>

	<insert id="save" parameterType="com.xxl.job.admin.core.model.XxlJobUser" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO xxl_job_user (
            jobGroupId,
            pin
		) VALUES (
			#{jobGroupId},
			#{pin}
		);
	</insert>

	<delete id="delete" parameterType="java.util.HashMap">
		DELETE
		FROM xxl_job_user
		WHERE t.jobGroupId = #{jobGroupId} and pin=#{pin}
	</delete>

</mapper>